* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1,
h3,
h4,
h5,
h6,
p {
  color: #000000;
}

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: white;
}

nav {
  max-width: 960px;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 5px;
  min-height: 50px;
  height: 100%;
  padding: 0px 10px;
  font-size: 1rem;
}

nav > ul > li > a {
  margin-left: 10px;
  color: #000000;
}

nav > ul > li > a.active {
  margin-left: 10px;
  color: #0e353eb6;
  font-size: large;
}

nav > ul > li > a:hover {
  margin-left: 10px;
  color: #5d5d5d;
}

nav > ul > li {
  display: inline-block;
  padding: 1em;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 40% 60%;
  grid-template-areas:
    "herosection herosection herosection herosection"
    "photogallery photogallery photogallery photogallery";
}

.hero-section {
  grid-area: herosection;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/School.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 27px;
  letter-spacing: 6px;
}

.hero-text > h1,
h2 {
  color: rgb(255, 255, 255);
}

.photo-gallery {
  grid-area: photogallery;
  display: grid;
  position: relative;
  height: 100%;
  width: 100%;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-areas: "section1 section2 section3";
}

section {
  display: grid;
  height: 400px;
  width: 100%;
  grid-template-columns: 3fr 3fr 3fr 2fr;
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.763);
  background-blend-mode: darken;
}

#section1 {
  grid-area: section1;
  background-image: url(assets/wand.jpeg);
}

#section2 {
  grid-area: section2;
}

#section3 {
  grid-area: section3;
  background-image: url(assets/owl.webp);
}

.btn {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  border: 1px solid #ffffff00;
  background-color: #080706;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn:active {
  transform: translateY(1px);
}

.cover-img {
  margin-top: 25px;
  width: 100%;
  height: auto;
}
