* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #452821;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: white;
}

nav {
  max-width: 960px;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 5px;
  min-height: 50px;
  height: 100%;
  padding: 0px 10px;
  font-size: 1rem;
}

nav > ul > li > a {
  margin-left: 10px;
  color: #452821;
}

nav > ul > li > a.active {
  margin-left: 10px;
  color: #265c5c;
}

nav > ul > li > a:hover {
  margin-left: 10px;
  color: #aa9270;
}

nav > ul > li {
  display: inline-block;
  padding: 1em;
  text-align: center;
}

.btn {
  border: 2px solid #452821;
  background-color: #aa9270;
  color: #452821;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  opacity: 0.7;
  transform: scale(1.2);
}

.btn:active {
  transform: translateY(1px);
}

.cover-img {
  margin-top: 25px;
  width: 100%;
  height: auto;
}
