body,
html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 3fr 3fr 1fr;
  grid-template-rows: 40% 60%;
  grid-template-areas:
    "houseContainer houseContainer inputContainer"
    "houseContainer houseContainer searchContainer";
}

#house-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: grid;
  grid-area: houseContainer;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-areas: "gryffindorContainer slytherinContainer ravenclawContainer hufflepuffContainer";
  justify-content: space-between;
  justify-content: center;
}

.Gryffinfor-house > {
  grid-area: gryffindorContainer;
}

.Slytherin-house {
  grid-area: slytherinContainer;
}

.Ravenclaw-house {
  grid-area: ravenclawContainer;
}

.Hufflepuff-house {
  grid-area: hufflepuffContainer;
}

#input-container {
  position: relative;
  grid-area: inputContainer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 400px;
  border: rgb(231, 228, 228) solid;
  opacity: 80%;
  font-size: 21px;
  letter-spacing: 0px;
  line-height: 35px;
}

#input-container > button {
}
#input-container > h1 {
  font-size: 30px;
  text-align: center;
}

input {
  width: 90%;
  height: 40px;
  border-radius: 10px;
}

.Slytherin-btn {
  background-image: linear-gradient(to bottom, #152222, #265c5c, #265c5c, #193535);
  height: 270px;
  width: 100%;
  border-radius: 250px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: white;
  font-size: 30px;
}

.Slytherin-card {
  color: #ffffff;
  background-image: linear-gradient(to right, #152222, #265c5c, #265c5c, #193535);
  margin: 10px 5px 10px 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 470px;
  width: 95%;
  border: 2px solid #452821;
  border-radius: 10px;
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.Slytherin-card > ul > li > h3 {
  color: #ffffff;
}

.Slytherin-card:hover {
  opacity: 80%;
}

.Slytherin-card > img {
  width: 100%;
  height: 300px;
}

.Gryffindor-btn {
  background-image: linear-gradient(to bottom, #7c4a07, #380e03, #380e03, #7c4a07);
  height: 270px;
  width: 100%;
  border-radius: 250px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: white;
  font-size: 30px;
}

.Gryffindor-card {
  color: #ffffff;
  background-image: linear-gradient(to right, #7c4a07, #380e03, #380e03, #7c4a07);
  margin: 10px 5px 10px 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 470px;
  width: 95%;
  border: 2px solid #452821;
  border-radius: 10px;
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.Gryffindor-card > ul > li > h3 {
  color: #ffffff;
}

.Gryffindor-card:hover {
  opacity: 80%;
}

.Gryffindor-card > img {
  width: 100%;
  height: 300px;
}

.Ravenclaw-btn {
  background-image: linear-gradient(to bottom, #11126b, #1e3a64bb, #274470bb, #11126b);
  height: 270px;
  width: 100%;
  border-radius: 250px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: white;
  font-size: 30px;
}

.Ravenclaw-card {
  color: #ffffff;
  background-image: linear-gradient(to right, #11126b, #1e3a64bb, #274470bb, #11126b);
  margin: 10px 5px 10px 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 470px;
  width: 95%;
  border: 2px solid #452821;
  border-radius: 10px;
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
}
.Ravenclaw-card > ul > li > h3 {
  color: #ffffff;
}

.Ravenclaw-card:hover {
  opacity: 80%;
}

.Ravenclaw-card > img {
  width: 100%;
  height: 300px;
}

.Hufflepuff-btn {
  background-image: linear-gradient(to bottom, #865d03, #f0d019bb, #ccb013bb, #865d03);
  height: 270px;
  width: 100%;
  border-radius: 250px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: white;
  font-size: 30px;
}
.Hufflepuff-card {
  background-image: linear-gradient(to right, #865d03, #f0d019bb, #ccb013bb, #865d03);
  margin: 10px 5px 10px 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 470px;
  width: 95%;
  border: 2px solid #452821;
  border-radius: 10px;
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.Hufflepuff-card > ul > li > h3 {
  color: #000000;
}

.Hufflepuff-card:hover {
  opacity: 80%;
}

.Hufflepuff-card > img {
  width: 100%;
  height: 300px;
}

h3 {
  font-size: 28px;
  margin: 0;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  align-items: center;
  font-size: 18px;
  margin-right: 30px;
}

.dead {
  color: red;
}

.container {
  text-align: center;
  justify-content: flex;
  grid-area: searchContainer;
  border: rgb(231, 228, 228) solid;
  height: 2000vh;
  width: 400px;
}

.character {
  list-style-type: none;
  width: 90%;
  border-radius: 3px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "image name"
    "image alive"
    "image house"
    "image age";

  text-align: left;
}

.character > h2 {
  grid-area: name;
}

.character > .house {
  grid-area: house;
}
.character > .age {
  grid-area: age;
}
.character > .alive {
  grid-area: alive;
}

.character > img {
  max-height: 200px;
  grid-area: image;
  padding: 10px;
}

#searchBar {
  margin-top: 30px;
  width: 90%;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
  font-size: 12px;
}

#searchWrapper {
  grid-area: searchbar;
  position: relative;
}

#searchWrapper::after {
  content: "🔍";
  position: absolute;
  top: 40px;
  right: 15px;
}
