body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.info-div {
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
}

.info-div > img {
  border-radius: 20px;
  border: 2px solid #452821;
}

.info-div > * {
  margin-top: 10px;
}

.info-div > h2,
.info-div > p {
  text-align: center;
}

.info-div:hover .bubble {
  display: block;
}

.bubble {
  padding: 25px;
  display: none;
  position: absolute;
  top: 30%;
  right: 20px;
  background-color: #ffffff;
  border-radius: 500px;
}

/*.cards styling */

.cards {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 300px;
  width: 100%;
  border: 2px solid #452821;
  border-radius: 10px;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.card > img {
  width: 100%;
}

.card-content {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content > h3 {
  font-size: 28px;
  margin: 0;
  margin-bottom: 15px;
}

.card-content > p {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  flex: 1;
}
